<!DOCTYPE html>
<html>
    <head>
        <title>Rue's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Rue's Blog</a></h1>
        </header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first Django post</a></h2>
            <p>Yayyy...It worked</p>
        </article>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">Django Girls</a></h2>
            <p>I am a Django Girl now!</p>
        </article>
    </body>
</html>